<div class="container results">
  <ul class="result-gallery">
    <!-- <li class="result-item">
            <a href="${largeImageURL}" class="picture-link">
                <img src="${webformatURL}" alt="${tags}" loading="lazy" class="item-image" />
            </a>
            <div class="picture-text">
                <p class="text"><span class="bold-text">Likes</span> ${likes}</p>
                <p class="text"><span class="bold-text">Views</span> ${views}</p>
                <p class="text"><span class="bold-text">Comments</span> ${comments}</p>
                <p class="text"><span class="bold-text">Downloads</span> ${downloads}</p>
            </div>
        </li> -->
  </ul>
</div>
<script type="module" src="/js/main.js"></script>
